# =========================
# Environment variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
